<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- jQuery and JavaScript Bundle with Popper -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.slim.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.bundle.min.js" integrity="sha384-7ymO4nGrkm372HoSbq1OY2DP4pEZnMiA+E0F3zPr+JQQtQ82gQ1HPY3QIVtztVua" crossorigin="anonymous"></script>
   
  <title>nicky Careers</title>
  <style>
    #container{
      margin:20px
    }
    h1{
      font-size:30px;
      color:rgb(100,100,100);
      text-align:center;
    }
    img{
      height:300px;
      width:100%;
    }
    h2{
     color:rgb(100,100,100);
      text-align:center;
    }
    
    .bodytext{
      font-family:Roboto;
    }
  </style>
  </head>
  <body>
    <div id="container">
    <h1 >Nicky Careers</h1>
    <img src="./static/career.jpg">
    <h2 class="mt-2 mb-4">About Nicky</h2>
    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
    <h2 class="mt-2 mb-4">Open Position</h2>
    <p>
      {% for job in jobs%}
        {% include 'jobitem.html' %}
      {% endfor %}
    </p>
    <div class="text-center">
    <button class="btn btn-primary btn-lg">contact us</button>
    <p class="mt-4">Copyright 2022,Nicky</p>
    </div>
  </div>
  </body>
</html>